body {
    background: #eee
}

.date {
    font-size: 11px
}

.comment-text {
    font-size: 15px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

.text1{
	color: blue;
	display: inline-flex;
	font-size: 15px;
	font-weight: bold;

}
.text2{
	color: black;
	display: inline-flex;
	font-size: 15px;
	font-weight: normal;


}

.img1 {
	max-width: 100%;
	height: auto;
}

.text3 {
		color: grey;
	display: inline-flex;
	font-size: 15px;
	font-weight: normal;
}

.text5{
	color: blue;
	font-size: 15px;
	
}

.com1 {
	font-size: 13px;
	padding-bottom: 15px;
	padding-left: 5px;
}